#boutton{
    width: 90px;
}


#secteurActivite{
    margin-top: 10%;
    border: 1px solid blue;
}


#tailleEntreprise{
    margin-top: 10%;
    border: 1px solid red;
}


#chargerPage{
    margin-top: 100px;
}

