@media screen and (max-width: 400px) {
    body{
        max-width: 390px;
    }
    
    #map{
        display: none;
    }

    .list{
        display: block;
        
        
        max-width: 360px;
    }

    

    #container{
        display: block;
        
        
        max-width:360px;
        
    }

    select{
        max-width: 150px;
    }

}

body{
    background-color: rgb(49, 48, 48);
}

select{
    max-width: 360px;
}


#boutton{
    width: 90px;
}


#secteurActivite{
    margin-top: 10%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 1em;
}


#tailleEntreprise{
    margin-top: 10%;
    border-radius: 20px;
    background-color:whitesmoke;
    padding: 1em;
}


#chargerPage{
    margin-top: 100px;
}


.list{
    width: 100%;
    
    
    display: grid;
    grid-template-columns: repeat(3,1fr);

}


.listeElement{
    /* height: 150px;
    width: 150px; */
    border: 1px solid green;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
    
    

}

.listeElement:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: whitesmoke;
    
}

#container{
    display: grid;
    grid-template-columns: 7fr 4fr;
    
    
}


.map{
    background-color: red;
    position: sticky;
    
    top: 0;
    right: 0;
    left: 0;
    height: 150vh;
    
}

.bouttonAPP{
    border-radius: 20px;
}